body {
    padding: 2em;
}

header {
    border: 5px solid lightblue;
    background-color: ghostwhite;
    font-family: georgia;
    padding: .5em;
}

header a {
    color: white;
}

header a:hover {
    color: lightblue;
}

header h1 {
    color: #lightblue;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #0E3D65;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
}

/*h2 {*/
/*    color: #F6B018;*/
/*    border: 2px solid #F6B018;;*/
/*}*/

pre {
    border: 1px solid black;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 10px;
    border: 1px solid ghostwhite;
    width: 40%;
    text-align: center;
    align-items: center;
    
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: black;
    background-color: lightblue;
    text-align: center;
}
